
body{
  background: url('../images/bodyImage.png');
  background-attachment: fixed;
  // padding-left: 5%;
  // padding-right: 5%;
  //border: 2px solid red;
  .tooltip{
    text-decoration: underline;
  }
  .row{
    margin: 0 auto;
  }
  .container-fluid{
    padding-left: 210px;
    padding-right: 210px;
    .social{
      margin-top: 50px;
      margin-bottom: 25px;
    .icons{
      float: right;
      a{
        font-family: 'PT Sans', sans-serif;
        text-decoration: none;
        color: white;
        :hover{
          opacity: 1;
        }
      }
      .iconImg{
        opacity: .8;
      }
    }
  }

    .fullNav{
      .padding-top: 50px;
      .col-md-12{
        padding: 0px;
        margin: 0 auto;
        .navItem{
          margin-right: 5px;
          border-bottom: 4px solid rgb(165, 165, 165);
      }
      .topMenu{
        text-align: left;
        padding: 0px;
      }
      li{
        font-family: 'PT Sans', sans-serif;
        font-size: 1.6rem;
        display: inline-block;
        background-color: rgb(218, 24, 41);
        margin: 0px;
        padding: 8px;
        :hover{
          text-decoration: none;
        }
        a{
          color: white;
        }

      }
    }
    }

    .carousel{
      border: 8px solid white;
      margin-bottom: 50px;
      border-bottom: 4px solid rgb(165, 165, 165);
      .logo{
        margin: auto 0;
        padding: 0px;
        position: absolute;
        z-index: 1;
        top: 5%;
        left: 2%;
      }
      .carousel-inner{
        img{
          margin: 0 auto;
          width: 100%;
        }
      }

      .carousel-control{
        display: none;
      }

      .carousel-indicators{
        bottom: -65px;

        .active{
          background-color: red;
          border: 4px solid white;
        }
      }

      .item{
        width: 100%;
        margin: 0 auto;
        padding: 0 auto;
      }

      .active{
        margin: 0 auto;
      }

    }
    .news{
      margin: 0 auto;
      margin-top: 3%;
      height: 415px;


      .col-md-4{
        &.expand{
          width: 100%;
        }
        .hidden{
          display:none;
        }
        }

        .newsPost{
          font-family: 'PT Sans', sans-serif;
          text-align: left;
          padding: 8%;
          margin-bottom: 50px;
          line-height: 140%;
          letter-spacing: .02em;
          background: white;
          height: 320px;
          overflow: hidden;
          border-bottom: 4px solid rgb(165, 165, 165);


          .postTitle{
            font-size: 1.4em;
            color: rgb(54, 55, 49);
          }
          .postDate{
            font-size: .9em;
            color: rgb(165, 165, 165);
          }
          .actualPost{
            font-size: .8em;
            color: rgb(84, 84, 84);
          }
          .readMore{
            text-decoration: none;
            text-align: center;
            a{
              color: rgb(180, 40, 46);
            }
          }

        }
        #third{
          border-bottom: 4px solid rgb(165, 165, 165);
        }
      }
    }


    .skateboarders{
      margin-top: -70px;
      margin-bottom: 50px;
      .col-md-8{
        padding: 0px;
      }
      .col-md-6{
        padding-left: 0px;
        padding-top: 0px;
        opacity: .8;
        &:hover{
          opacity: 1;
        }
        img{
        width: 100%;
        vertical-align: top;
        border: 4px solid white;

        }
        a{
          text-decoration: none;
          p{
            font-family: 'PT Sans', sans-serif;
            color: white;
            font-size: 3rem;
            margin-top: -40%;
            margin-left: 5%;
          }
        }
      }
      .col-md-4{
        padding: 0px;
        opacity: .8;
        &:hover{
          opacity: 1;
        }
        img{
          width: 100%;
          border: 4px solid white;
        }
        a{
          text-decoration: none;
          p{
            font-family: 'PT Sans', sans-serif;
            color: white;
            font-size: 3rem;
            margin-top: -40%;
            margin-left: 5%;
          }
        }
      }
      .steveDiv{
        margin-top: -172px;
        padding: 0px;
        opacity: .8;
        &:hover{
          opacity: 1;
        }
        img{
            width: 97.5%;
            border: 4px solid white;

          }
        a{
          text-decoration: none;
          p{
            font-family: 'PT Sans', sans-serif;
            color: white;
            font-size: 3rem;
            margin-top: -20%;
            margin-left: 5%;
          }
        }
      }
    }

    .boards{
      background: white;
      text-align: center;
      margin-top: 50px;
      border-bottom: 4px solid rgb(165, 165, 165);
      img{
        padding: 1%;
      }
    }


    .contactUs{
      background-color:white;
      padding: 2%;
      margin-top: 50px;
      margin-bottom: 50px;
      border-bottom: 4px solid rgb(165, 165, 165);
      .contactPrompt{
        h2{
          font-family: 'PT Sans', sans-serif;
          color: rgb(54, 55, 49);
        }
      }
      .contactForm{
        input{
          border-top: 4px  solid rgb(165, 165, 165);
          border-left: 4px solid rgb(165, 165, 165);
        }
        textarea{
          border-top: 4px solid rgb(165, 165, 165);
          border-left: 4px solid rgb(165, 165, 165);
        }
        button{
          color: white;
          border-radius: 0%;
          opacity: 1;
          margin-top: 5%;
          padding-left: 10%;
          padding-right: 10%;
          float: right;
        }
      }
    }
    .footer{
      text-align: center;
      padding: 2%;
      img{
        opacity: .4;
      }
    }
  }
